<br />
<div class="col-xl-6" style="margin-left: 20%">
  <form class="form" autocomplete="new-password">
    <div class="form-group m-form__group align-items-center">
      <div class="input-group">
        <input
          name="filterText"
          autoFocus
          class="form-control m-input"
          #SearchInput
          (input)="search(SearchInput.value)"
          [placeholder]="'Enter Keyword to Search'"
          type="text"
        />
        <span class="input-group-btn"> </span>
      </div>
    </div>
  </form>
</div>
<br />
