<div class="card-container" style="width: 500px">
  <h1 class="py-3">{{ data.header }} User</h1>
  <form [formGroup]="Formdata">
    <br />
    <div>
      <input
        type="text"
        formControlName="name"
        [name]=""
        placeholder="Enter User Name"
      />
    </div>

    <div formGroupName="address">
      <p>Address</p>
      <input formControlName="street" placeholder="street" [required]="true" />
      <br />
      <input formControlName="city" placeholder="city" [required]="true" />
      <br />

      <input formControlName="zipcode" placeholder="zip" [required]="true" />
    </div>
    <br />

    <div>
      <button
        mat-raised-button
        class="button"
        [disabled]="!Formdata.valid"
        *ngIf="data.mode === 'add'"
        (click)="addNewUser()"
      >
        Add ✔
      </button>
      <button
        mat-raised-button
        class="button"
        [disabled]="!Formdata.valid"
        *ngIf="data.mode === 'edit'"
        (click)="editUser()"
      >
        Edit ✔
      </button>
    </div>
  </form>
</div>
